<div class='m-4'>
  <form method='post' action='/postbook' enctype="multipart/form-data">
    <div class='form-group m-2'>
      <label for='name'>Tên</label>
      <input type='text' class='form-control' id='name' name='name' />
    </div>
    <div class='form-group m-2'>
      <label for='price'>Gía Tiền</label>
      <input
        type='text'
        class='form-control'
        id='price'
        name='price'
      />
    </div>
    <div class='form-group m-2'>
      <label for='description'>Mô tả</label>
      <input
        type='text'
        class='form-control'
        id='description'
        name='description'
      />
    </div>
    <div class='form-group m-2'>
      <label for='author'>Author</label>
      <select name="author">
        <option value="">Select an author</option>
        {{#each author}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class='form-group m-2'>
      <label for='genres'>Genres</label>
      <input
        type='text'
        class='form-control'
        id='genres'
        name='genres'
      />
    </div>
    <div class='form-group m-2'>
      <label for='images'>Images</label>
      <input
        type='file'
        multiple='multiple'
        class='form-control'
        id='images'
        name='images'
      />
    </div>
    <button type='submit' class='btn btn-primary'>Nhập khóa học</button>
  </form>
</div>
