{{!-- <footer>
                <div
                class="top-bar">  
                </div>
                <div class="footer-item" >
                    <image src="/Image/open-book-icon.png" style="height:215px; width:230px; margin:auto 0;margin-left: 20px;">
                    <div  class="vertical-line"></div>
                    <div class="contact"
                    >
                        <div class="inform-title">Liên hệ</div>
                        <div class ="inform"><i class="fa-solid fa-envelope fa-lg"></i>   Email</div>
                        <div class ="inform"><i class="fa-solid fa-phone fa-lg"></i>   Số điện thoại</div>
                    </div>
                    <div class="contact"
                    >
                        <div class="inform-title">Hỗ trợ</div>
                        <div class ="inform"><i class="fa-solid fa-envelope fa-lg"></i>   Email</div>
                        <div class ="inform"><i class="fa-sharp fa-solid fa-phone-volume fa-lg"></i>   Hotline</div>
                    </div>
                    <div class="contact"
                    >
                        <div class="inform-title">Dịch vụ</div>
                        <div class ="inform"><i class="fa-sharp fa-solid fa-circle-user fa-lg"></i>   Điều khoản sử dụng</div>
                        <div class ="inform"><i class="fa-solid fa-clipboard-list fa-lg"></i>  Chính sách thuê</div>
                    </div>
                </div>
               
        </footer> --}}